@import url(reset.css);
@font-face {
    font-family: "inspiration";
    src: url(../Ressources_Graphiques/Font/inspiration-regular-webfont.woff2) format("woff2"),
        url(../Ressources_Graphiques/Font/inspiration-regular-webfont.woff) format(woff);
    font-weight: normal;
    font-style: normal;    
}

body, html{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

.container{
    padding: 1rem 10rem;
    background: rgb(51, 21, 4);
}


/* HEADER */

.head__logo{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.head__title{
    font-family: 'inspiration';
    font-size: 4rem;
    color: white;
}

.head__nav{
    height: 30px;
    margin: 0.5rem 0;
    display: flex;
    align-items: center;
    padding: 1rem 0 1rem 1rem;
    background: rgb(44, 18, 4);
}

.nav__link{
    padding: 0.5rem 1.5rem;
    border-right: 1px solid rgb(151, 78, 35);
    color: white;
}
.link__vangogh{
    border: none;
}
.nav__link:hover{
    color: orangered;
    cursor: pointer;
}

.nav__link__active{
    color: orangered;
    background: rgb(46, 32, 26);
}


/* MAIN */

.main{
    padding: 0.5rem 0 0 0.5rem;
    background: rgb(90, 167, 131);
}

.main__banniere{
    display: flex;
    gap: 1rem;
}
.main__banniere__pic{
    width: 200px;
    height: 140px;
}

.banniere__title{
    font-size: 2rem;
    font-weight: bold;
    color: white;
}
.banniere__text{
    color: white;
    margin: 1rem 1rem 0 0;
}

.main__nav{
    display: flex;
}
.main__link{
    display: flex;
    flex-direction: column;
    margin: 1.5rem 1rem;
}
.main__nav__link{
    width: 170px;
    color: white;
    border-bottom: 1px solid white;
    padding: 1rem 0;
}
.main__nav__link:hover{
    color: orangered;
}

.main__galery{
    width: 100%;
    height: 500px;
    background: rgb(235, 208, 159);
    margin: 0.5rem 0 0 1rem;
    padding: 1rem 3rem;
    overflow: hidden;
}
.galery__title{
    font-size: 2rem;
    font-weight: bold;
    color: rgb(11, 66, 48);
    margin-bottom: 1rem;
}
.galery__grille{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.galery__elem{
    position: relative;
    overflow: hidden;
}
.pic{
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: all 0.5s;
}
.galery__elem:hover{
    .pic{
        transform: scale(1.1);
    }
    cursor: pointer;
}
.pic__title{
    width: 100%;
    position: absolute;
    background: black;
    color: white;
    bottom: 0;
    padding: 0.5rem 0;
    text-align: center;
}

.galery__anim{
    animation: 1s galeryAnim;;
}

@keyframes galeryAnim {
    0% {
        transform: translateY(-120%)
    }
    25% {
        transform: translateY(100px)
    }
    50% {
        transform: translateY(-150px)
    }
    60% {
        transform: translateY(50px)
    }
    75% {
        transform: translateY(-90px)
    }
    85% {
        transform: translateY(20px)
    }
    95% {
        transform: translateY(-25px)
    }
    100% {
        transform: translateY(0)
    }
}

/* LIGHTBOX */

.lightbox{
    display: none;
    position: fixed;
    z-index: 5;
    top: 20%;
}

.close{
    position: absolute;
    right: 0;
}
.carousel{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
}
.close{
    font-size: 2rem;
    color: white;
    cursor: pointer;
}
.chevron{
    font-size: 3rem;
    color: white;
    cursor: pointer;
}
.lightbox__title{
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.726);
}
.lightbox__visible{
    display: initial;
}
.blur{
    filter: blur(5px);
    pointer-events: none;
}

/* FOOTER */

.foot{
    text-align: center;
    color: white;
    margin-top: 2rem;
}


/* RESPONSIVE */

@media screen and (max-width: 768px) {
    .container{
        padding: 1rem;
    }

    .head__nav{
        height: 200px;
        flex-direction: column;
        align-items: start;
        padding: 1rem;
    }
    .nav__link{
        width: 100%;
        border: none;
    }
    .nav__link__active{
        width: 90%;
    }

    .main{
        padding: 0;
    }

    .main__banniere__pic{
        display: none;
    }
    .main__banniere__text{
        padding: 0.5rem 1.5rem;
        margin-right: 0;
        text-align: justify;
    }

    .main__nav{
        flex-direction: column;
    }
    .main__link{
        margin: 0;
        padding: 1rem 2rem;
    }
    .main__nav__link{
        width: 100%;
    }
    .main__galery{
        width: auto;
        height: 100%;
        margin: 0;
    }
    .galery__grille{
        grid-template-columns: repeat(2, 1fr);
    }

}